{% extends 'base-input-data.html' %}

{% block head %}
  <!-- DataTables -->
  <link rel="stylesheet" href="../static/plugins/dashboard/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="../static/plugins/dashboard/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="../static/plugins/dashboard/datatables-buttons/css/buttons.bootstrap4.min.css">
  <!-- Select -->
  <link rel="stylesheet" href="../static/plugins/dashboard/select2/css/select2.min.css">
{% endblock %}

{% block body %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Data Gapoktan</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{{ url_for('main.home') }}">Beranda</a></li>
              <li class="breadcrumb-item"><a href="{{ url_for('main.input_data') }}">Input Data</a></li>
              <li class="breadcrumb-item active">Data Gapoktan</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Data Table Gapoktan</h3>
                <a class="add-user-btn" href="" data-toggle="modal" data-target="#mymodal">Tambah</a>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                    {% for category, message in messages %}
                      <div class="notification is-danger">
                        {% if category == 'pass-error'%}
                          {{ message }}.
                        {% else %}
                          {{ message }}.
                        {% endif %}
                      </div>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>ID Gapoktan</th>
                      <th>ID Desa</th>
                      <th>Nama Gapoktan</th>
                      <th>Alamat</th>
                      <th>Telepon</th>
                      <th>Tahun Terbentuk</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for row in gapoktan %}
                      <tr>
                        <td>{{row.id_gapoktan}}</td>
                        <td>{{row.id_desa}}</td>
                        <td>{{row.nama_gapoktan}}</td>
                        <td>{{row.alamat_gapoktan}}</td>
                        <td>{{row.telepon_gapoktan}}</td>
                        <td>{{row.tahun_terbentuk_gapoktan}}</td>
                        <td>
                          <a class="edit-user-btn" href="/input-data/data-gapoktan/update/{{row.id_gapoktan}}" data-toggle="modal" data-target="#modaledit{{row.id_gapoktan}}">Ubah</a>
                          <a class="delete-user-btn" href="/input-data/data-gapoktan/delete/{{row.id_gapoktan}}">Hapus</a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                  <tfoot>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  <!-- Modal Edit Gapoktan-->
  {% for row in gapoktan %}
    <div id="modaledit{{row.id_gapoktan}}" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Ubah Data Gapoktan</h4>
          </div>
          <div class="modal-body card-body register-card-body">
            <form action="{{ url_for('main.input_data_gapoktan_update') }}" method="POST">
              <div class="form-row">
                <div class="form-group">
                  <label for="inputDesa">Desa</label>
                  <select id="listDesa" class="form-control js-example-basic-single" name="inputDesa">
                    {% for row in desa %}
                      <option value="{{row.nama_desa}}">{{row.nama_desa}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="inputKabupaten">Kabupaten</label>
                  <select id="inputKabupaten" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select>
                </div>
                <div class="form-group col-md-4">
                  <label for="inputKecamatan">Zip</label>
                  <select id="inputKecamatan" class="form-control">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label>ID Gapoktan</label>
                <input type="text" class="form-control" name="id_gapoktan" value="{{row.id_gapoktan}}" readonly>
              </div>
              <div class="form-group">
                <label>ID Desa</label>
                <input type="text" class="form-control" name="id_desa" value="{{row.id_desa}}" readonly>
              </div>
              <div class="form-group">
                <label>Nama Gapoktan</label>
                <input type="text" class="form-control" name="nama_gapoktan" placeholder="Nama Gapoktan" value="{{row.nama_gapoktan}}">
              </div>
              <div class="form-group">
                <label>Alamat</label>
                <input type="text" class="form-control" name="alamat_gapoktan" placeholder="Alamat Gapoktan" value="{{row.alamat_gapoktan}}">
              </div>
              <div class="form-group">
                <label>Telepon</label>
                <input type="text" class="form-control" name="telepon_gapoktan" placeholder="Nomor Telepon Gapoktan" value="{{row.telepon_gapoktan}}">
              </div>
              <div class="form-group">
                <label>Tahun Terbentuk</label>
                <input type="text" class="form-control" name="tahun_terbentuk_gapoktan" placeholder="Tahun Terbentuk" value="{{row.tahun_terbentuk_gapoktan}}">
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary" type="submit">Ubah</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
              
  <!-- Modal Add Gapoktan -->
  <div id="mymodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Tambah Gapoktan</h4>
        </div>
        <div class="modal-body card-body register-card-body">
          <form action="{{url_for('main.input_data_gapoktan_add')}}" method="POST">
            <div class="form-group">
              <input type="number" class="form-control" name="id_gapoktan" placeholder="ID Gapoktan" required>
            </div>
            <div class="form-group">
              <input type="number" class="form-control" name="id_desa" placeholder="ID Desa" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="nama_gapoktan" placeholder="Nama Gapoktan" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="alamat_gapoktan" placeholder="Alamat Gapoktan" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="telepon_gapoktan" placeholder="Telepon Gapoktan" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="tahun_terbentuk_gapoktan" placeholder="Tahun Terbentuk Gapoktan" required>
            </div>
            <div class="modal-footer">
              <button class="btn btn-primary" type="submit">Tambah</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <!-- DataTables  & Plugins -->
  <script src="../static/plugins/dashboard/datatables/jquery.dataTables.min.js"></script>
  <script src="../static/plugins/dashboard/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="../static/plugins/dashboard/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src="../static/plugins/dashboard/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <script src="../static/plugins/dashboard/datatables-buttons/js/dataTables.buttons.min.js"></script>
  <script src="../static/plugins/dashboard/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
  <script src="../static/plugins/dashboard/jszip/jszip.min.js"></script>
  <script src="../static/plugins/dashboard/pdfmake/pdfmake.min.js"></script>
  <script src="../static/plugins/dashboard/pdfmake/vfs_fonts.js"></script>
  <script src="../static/plugins/dashboard/datatables-buttons/js/buttons.html5.min.js"></script>
  <script src="../static/plugins/dashboard/datatables-buttons/js/buttons.print.min.js"></script>
  <script src="../static/plugins/dashboard/datatables-buttons/js/buttons.colVis.min.js"></script>
  <script>
    $(function () {
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });
    });
  </script>
  <!-- Select -->
  <script src="../static/plugins/dashboard/select2/js/select2.min.js"></script>
  <script>
    $('#listProvinsi').ready(function() {
      $('.js-example-basic-single').select2();
    });
  </script>

{% endblock %}